# Predictions for Job Salaries within the San Francisco City Government

Our goal is to use the SF Salaries dataset from kaggle to predict total salaries of the top 50 most populated jobs. From the data we have received, our goal is to narrow down the solely on the main salary aside from the other forms of payments such as Overtime, Benefits and other that is included. Using the ID, Job Title and Base Pay from the original data set, and creating new columns such as Job Categories/Encoded and the total, average, minimum, maximum, mean and standard deviation of the base pay - this will help prepare for the models in predicting of salaries.

In [1]:
#Import required libraries
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
#Define and load file 
salaries_path = "data/Salaries.csv"
salaries = pd.read_csv(salaries_path)

#Display sample data 
salaries.head(50)

C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\4207225404.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv(salaries_path)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.0,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.3,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.2,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.0,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.0,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.8,40008.0,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.6,0.0,2357.0,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.6,0.0,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
30,31,HARLAN KELLY-JR,EXECUTIVE CONTRACT EMPLOYEE,234325.02,0.0,25972.64,NaN,260297.66,260297.66,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.0,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
32,33,GARY AMELIO,DEPARTMENT HEAD V,248895.7,0.0,10789.18,NaN,259684.88,259684.88,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.0,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.2,139102.95,16483.94,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.0,12000.0,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661.2,31162.04,111446.2,NaN,253269.44,253269.44,2011,NaN,San Francisco,NaN
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202.26,52648.92,67083.83,NaN,251935.01,251935.01,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.9,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.0,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
43,44,MICHAEL THOMPSON,FIREFIGHTER,123013.02,111729.65,15575.26,NaN,250317.93,250317.93,2011,NaN,San Francisco,NaN
44,45,SHARON MCCOLE WICHER,NURSING SUPERVISOR PSYCHIATRIC,196081.86,0.0,54040.18,NaN,250122.04,250122.04,2011,NaN,San Francisco,NaN
45,46,EDWIN LEE,MAYOR,249375.02,0.0,0.0,NaN,249375.02,249375.02,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
47,48,TRENT RHORER,DEPARTMENT HEAD V,248895.77,0.0,0.0,NaN,248895.77,248895.77,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233867.6,0.0,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
49,50,KEN YEE,"LIEUTENANT, FIRE DEPARTMENT",137729.92,89856.01,20848.46,NaN,248434.39,248434.39,2011,NaN,San Francisco,NaN

Cleaning and Filtering the data: 

The dataset we chose does not have consistent inputs. To fix this, we decideded to have employee names and job titles in lowercase as data from 2011 were all uppercase versus data from 2012 - 2014.

In [3]:
#Converting into lowercase
salaries['JobTitle'] = salaries['JobTitle'].str.lower()
salaries['EmployeeName'] = salaries['EmployeeName'].str.lower()

In [4]:
#
num_id = salaries['Id'].nunique()
num_id

148654

In [5]:
#
num_people = salaries['EmployeeName'].nunique()
num_people

80459

In [6]:
#
unique_years = salaries['Year'].unique()
unique_years

array([2011, 2012, 2013, 2014], dtype=int64)

This section is replacing all of the different job title position rank from roman numerals to regular numbers. There are different rankings within each job title ( exampleL: manager 2, manager 3)

In [7]:
salaries['JobTitle'] = salaries['JobTitle'].str.replace(' v ', ' 5')

In [8]:
salaries['JobTitle'] = salaries['JobTitle'].str.replace('iiii', '4')

In [9]:
salaries['JobTitle'] = salaries['JobTitle'].str.replace('iii', '3')

In [10]:
salaries['JobTitle'] = salaries['JobTitle'].str.replace('ii', '2')

In [11]:
salaries['JobTitle'] = salaries['JobTitle'].str.replace(' i', '1')

In [12]:
#Display DataFrame
salaries.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [13]:
#Removing unwanted rows
salaries = salaries[~salaries['JobTitle'].isin(['Not provided', 'Not Provided']) & 
                  ~salaries['EmployeeName'].isin(['Not provided', 'Not Provided']) & 
                  ~salaries['OvertimePay'].isin(['Not provided', 'Not Provided']) & 
                  ~salaries['OtherPay'].isin(['Not provided', 'Not Provided']) & 
                  ~salaries['BasePay'].isin(['Not provided', 'Not Provided'])]

print("\nDataFrame after removing unwanted rows:")
salaries

DataFrame after removing unwanted rows:

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,carolyn a wilson,human services technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148648,joann anderson,communications dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148648,148649,leon walker,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148649,148650,roy i tillery,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148653,148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [14]:
#
num_job = salaries['JobTitle'].nunique()
num_job

1579

Displayed here is a show of the highest to lowest count of people in these Job Titles.

In [15]:
relative_counts = salaries['JobTitle'].value_counts(normalize=False)
relative_counts.head(50)

JobTitle
transit operator                       9424
special nurse                          5791
registered nurse                       4955
custodian                              3214
police officer 3                       3200
firefighter                            3153
recreation leader                      2663
deputy sheriff                         2618
public svc aide-public works           2518
patient care assistant                 1945
public service trainee                 1656
attorney (civil/criminal)              1503
police officer 2                       1502
police officer                         1476
porter                                 1465
general laborer                        1410
gardener                               1187
parking control officer                1140
library page                           1107
senior clerk                           1064
senior clerk typist                    1055
sergeant 3                             1047
clerk                                   983
eligibility worker                      980
emt/paramedic/firefighter               918
licensed vocational nurse               901
stationary engineer                     886
nurse practitioner                      881
senior eligibility worker               879
protective services worker              824
museum guard                            821
transit supervisor                      812
senior administrative analyst           806
medical evaluations assistant           778
junior clerk                            755
school crossing guard                   712
truck driver                            709
food service worker                     701
electrical transit system mech          631
engineer                                630
ps aide to prof                         627
senior account clerk                    587
health worker 3                         586
publ svc aide-asst to prof              574
lieutenant, fire suppression            572
manager 3                               571
automotive mechanic                     562
mental health rehabilitation worker     559
community police services aide          559
health worker 2                         542
Name: count, dtype: int64

In [16]:
#Dropping Notes 
salaries = salaries.drop('Notes', axis = 1)
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,carolyn a wilson,human services technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,joann anderson,communications dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,leon walker,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,roy i tillery,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Cleaning/filtering names - this section is to make the names more easier to code as some names included middle initials, whereas some were first and last name. We wanted to keep it first and last name only.

In [17]:
def remove_middle_initial(name):
    parts = name.split()
    if len(parts) == 3 and len(parts[1]) == 1:  # Check for exactly 3 parts and middle part is 1 letter
        return f"{parts[0]} {parts[2]}"  # Keep first and last name
    return name  # Return as is if conditions are not met

# Apply the function to the EmployeeName column
salaries['EmployeeName'] = salaries['EmployeeName'].apply(remove_middle_initial)

# Display the modified DataFrame
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,carolyn wilson,human services technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,joann anderson,communications dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,leon walker,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,roy tillery,custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

This section is was for us to understand the duplications of names in the data. There are duplications due to people having the same name and/or people working multiple years in either working in the same job title and/or working a different job title.

In [18]:
name_counts = salaries['EmployeeName'].value_counts()

# Display counts of names that are duplicates
duplicates = name_counts[name_counts > 1]

print("Duplicate names and their counts:")
print(duplicates)

Duplicate names and their counts:
EmployeeName
richard lee           29
kevin lee             29
david wong            28
michael brown         27
william wong          24
                      ..
harriette jackson      2
sherelle gardner       2
tamara bryan           2
michelle de grasse     2
jormah lohr            2
Name: count, Length: 37041, dtype: int64

In [19]:
duplicates.head(30)

EmployeeName
richard lee        29
kevin lee          29
david wong         28
michael brown      27
william wong       24
michael lee        24
stanley lee        23
william lee        22
michael wong       22
john chan          21
alan wong          20
john murphy        20
juan garcia        20
steven lee         20
jose lopez         19
david lee          19
kevin smith        18
michael johnson    18
jose hernandez     18
john miller        17
jennifer chiu      17
michael smith      17
david chan         17
raymond lee        17
jeffrey lee        16
john lee           16
linda lee          16
james wilson       16
victor lee         16
vincent wong       16
Name: count, dtype: int64

Dropping data so we have the set dataframe that we are aiming for.

In [20]:

salaries = salaries.drop('Status', axis=1)
salaries = salaries.drop('Benefits', axis=1)
salaries = salaries.drop('Agency', axis=1)

In [21]:
salaries = salaries.set_index('Id')
salaries

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,567595.43,567595.43,2011
2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,538909.28,538909.28,2011
3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,335279.91,335279.91,2011
4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,332343.61,332343.61,2011
5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...
148646,carolyn wilson,human services technician,0.00,0.00,0.00,0.00,0.00,2014
148648,joann anderson,communications dispatcher 2,0.00,0.00,0.00,0.00,0.00,2014
148649,leon walker,custodian,0.00,0.00,0.00,0.00,0.00,2014
148650,roy tillery,custodian,0.00,0.00,0.00,0.00,0.00,2014
148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,-618.13,-618.13,2014

This section is dividing the dataframe into different years to get an analysis.

In [22]:
dfs = {}

for year in unique_years:
    dfs[year] = salaries[salaries['Year'] == year]

# Access each DataFrame using the year as the key
df_2011 = dfs[2011]  # DataFrame for the year 2011
df_2012 = dfs[2012]
df_2013 = dfs[2013]
df_2014 = dfs[2014]  # DataFrame for the year 2014

# Print the DataFrames for verification
print("DataFrame for 2011:")
print(df_2011)
print("DataFrame for 2012:")
print(df_2012)
print("DataFrame for 2013:")
print(df_2013)
print("\nDataFrame for 2014:")
print(df_2014)

DataFrame for 2011:
             EmployeeName                                        JobTitle  \
Id
1          nathaniel ford  general manager-metropolitan transit authority
2            gary jimenez                   captain 3 (police department)
3          albert pardini                   captain 3 (police department)
4       christopher chong            wire rope cable maintenance mechanic
5         patrick gardner    deputy chief of department,(fire department)
...                   ...                                             ...
36155       serena hughes               swimming1nstructor/pool lifeguard
36156        joe brown jr                                transit operator
36157      paulette adams      stationary engineer, water treatment plant
36158       kaukab mohsin                                transit operator
36159  josephine mccreary                                       manager1v

         BasePay OvertimePay   OtherPay   TotalPay  TotalPayBenefits  Year
Id
1      167411.18         0.0  400184.25  567595.43         567595.43  2011
2      155966.02   245131.88  137811.38  538909.28         538909.28  2011
3      212739.13   106088.18    16452.6  335279.91         335279.91  2011
4        77916.0    56120.71   198306.9  332343.61         332343.61  2011
5       134401.6      9737.0  182234.59  326373.19         326373.19  2011
...          ...         ...        ...        ...               ...   ...
36155        0.0         0.0       4.17       4.17              4.17  2011
36156        0.0         0.0        0.3       0.30              0.30  2011
36157        0.0         0.0        0.0       0.00              0.00  2011
36158        0.0         0.0        0.0       0.00              0.00  2011
36159        0.0         0.0        0.0       0.00              0.00  2011

[36159 rows x 8 columns]
DataFrame for 2012:
             EmployeeName                      JobTitle    BasePay  \
Id
36160      gary altenberg  lieutenant, fire suppression  128808.87
36161        gregory suhr               chief of police   302578.0
36162          khoa trinh   electronic maintenance tech   111921.0
36163  joanne hayes-white        chief, fire department  296943.01
36164   frederick binkley     emt/paramedic/firefighter  126863.19
...                   ...                           ...        ...
72921    charles williams                  junior clerk     -30.58
72922        john carajan               general laborer        0.0
72923         john draper                         clerk       -9.5
72924        cherise wong                 special nurse        0.0
72925        donald clark              transit operator        0.0

      OvertimePay  OtherPay   TotalPay  TotalPayBenefits  Year
Id
36160   220909.48  13126.31  362844.66         407274.78  2012
36161         0.0  18974.11  321552.11         391362.30  2012
36162   146415.32  78057.41  336393.73         389496.02  2012
36163         0.0  17816.59  314759.60         386807.48  2012
36164   192424.49  17917.18  337204.86         381643.11  2012
...           ...       ...        ...               ...   ...
72921       45.87       0.0      15.29             16.65  2012
72922         0.0       0.0       0.00             12.90  2012
72923       14.25       0.0       4.75              5.17  2012
72924         0.0      3.28       3.28              4.16  2012
72925         0.0      1.77       1.77              1.91  2012

[36766 rows x 8 columns]
DataFrame for 2013:
              EmployeeName                        JobTitle    BasePay  \
Id
72926         gregory suhr                 chief of police  319275.01
72927   joanne hayes-white          chief, fire department  313686.01
72928          samson  lai  battalion chief, fire suppress  186236.42
72929        ellen moffatt               asst med examiner  272855.51
72930          robert shaw     dep dir for1nvestments, ret  315572.01
...                    ...                             ...        ...
110527        arthur curry         ps aide health services        NaN
110528       nereida  vega                    senior clerk        NaN
110529      timothy gibson                police officer 3        NaN
110530        mark laherty                police officer 3        NaN
110531         david kucia                police officer 3        NaN

       OvertimePay  OtherPay   TotalPay  TotalPayBenefits  Year
Id
72926          0.0  20007.06  339282.07         425815.28  2013
72927          0.0   23236.0  336922.01         422353.40  2013
72928    131217.63  29648.27  347102.32         404167.27  2013
72929     23727.91  38954.54  335537.96         401736.88  2013
72930          0.0       0.0  315572.01         398421.67  2013
...            ...       ...        ...               ...   ...
110527         0.0     10.67      10.67             10.67  2013
110528         0.0      5.56       5.56              5.56  2013
110529         0.0       0.0       0.00             -2.73  2013
110530         0.0       0.0       0.00             -8.20  2013
110531         0.0       0.0       0.00            -33.89  2013

[37606 rows x 8 columns]

DataFrame for 2014:
                EmployeeName                     JobTitle    BasePay  \
Id
110532           david shinn               deputy chief 3  129150.01
110533              amy hart            asst med examiner  318835.49
110534  william j coaker jr.      chief1nvestment officer   257340.0
110535          gregory suhr              chief of police  307450.04
110536    joanne hayes-white       chief, fire department   302068.0
...                      ...                          ...        ...
148646        carolyn wilson    human services technician       0.00
148648        joann anderson  communications dispatcher 2       0.00
148649           leon walker                    custodian       0.00
148650           roy tillery                    custodian       0.00
148654             joe lopez   counselor, log cabin ranch       0.00

       OvertimePay   OtherPay   TotalPay  TotalPayBenefits  Year
Id
110532         0.0  342802.63  471952.64         510732.68  2014
110533    10712.95   60563.54  390111.98         479652.21  2014
110534         0.0    82313.7  339653.70         436224.36  2014
110535         0.0   19266.72  326716.76         418019.22  2014
110536         0.0   24165.44  326233.44         417435.10  2014
...            ...        ...        ...               ...   ...
148646        0.00       0.00       0.00              0.00  2014
148648        0.00       0.00       0.00              0.00  2014
148649        0.00       0.00       0.00              0.00  2014
148650        0.00       0.00       0.00              0.00  2014
148654        0.00    -618.13    -618.13           -618.13  2014

[38119 rows x 8 columns]

In [23]:
df_2011.head(50)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,567595.43,567595.43,2011
2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,538909.28,538909.28,2011
3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,335279.91,335279.91,2011
4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,332343.61,332343.61,2011
5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,326373.19,326373.19,2011
6,david sullivan,assistant deputy chief 2,118602.0,8601.0,189082.74,316285.74,316285.74,2011
7,alson lee,"battalion chief, (fire department)",92492.01,89062.9,134426.14,315981.05,315981.05,2011
8,david kushner,deputy director of1nvestments,256576.96,0.0,51322.5,307899.46,307899.46,2011
9,michael morris,"battalion chief, (fire department)",176932.64,86362.68,40132.23,303427.55,303427.55,2011
10,joanne hayes-white,"chief of department, (fire department)",285262.0,0.0,17115.73,302377.73,302377.73,2011
11,arthur kenney,"assistant chief of department, (fire department)",194999.39,71344.88,33149.9,299494.17,299494.17,2011
12,patricia jackson,captain 3 (police department),99722.0,87082.62,110804.3,297608.92,297608.92,2011
13,edward harrington,executive contract employee,294580.02,0.0,0.0,294580.02,294580.02,2011
14,john martin,department head v,271329.03,0.0,21342.59,292671.62,292671.62,2011
15,david franklin,"battalion chief, (fire department)",174872.64,74050.3,37424.11,286347.05,286347.05,2011
16,richard corriea,"commander 3, (police department)",198778.01,73478.2,13957.65,286213.86,286213.86,2011
17,amy hart,department head v,268604.57,0.0,16115.86,284720.43,284720.43,2011
18,sebastian wong,"captain, emergencycy medical services",140546.87,119397.26,18625.08,278569.21,278569.21,2011
19,marty ross,"battalion chief, (fire department)",168692.63,69626.12,38115.47,276434.22,276434.22,2011
20,ellen moffatt,assistant medical examiner,257510.59,880.16,16159.5,274550.25,274550.25,2011
21,venus azar,assistant medical examiner,257510.48,0.0,16679.79,274190.27,274190.27,2011
22,judy melinek,assistant medical examiner,257510.44,377.21,15883.56,273771.21,273771.21,2011
23,george garcia,"captain, fire suppression",140546.88,93200.58,39955.25,273702.71,273702.71,2011
24,victor wyrsch,"battalion chief, (fire department)",168692.63,77896.14,24083.86,270672.63,270672.63,2011
25,joseph driscoll,"captain, fire suppression",140546.86,97868.77,31909.28,270324.91,270324.91,2011
26,gregory suhr,chief of police,256470.41,0.0,11522.18,267992.59,267992.59,2011
27,john hanley,"captain, fire suppression",92080.8,40008.0,133695.76,265784.56,265784.56,2011
28,raymond guzman,"battalion chief, (fire department)",168692.59,80706.88,16063.99,265463.46,265463.46,2011
29,denise schmitt,deputy chief 3 (police department),261717.6,0.0,2357.0,264074.60,264074.60,2011
30,monica fields,"deputy chief of department,(fire department)",246225.6,0.0,15140.54,261366.14,261366.14,2011
31,harlan kelly-jr,executive contract employee,234325.02,0.0,25972.64,260297.66,260297.66,2011
32,david shinn,deputy chief 3 (police department),254027.63,0.0,5899.48,259927.11,259927.11,2011
33,gary amelio,department head v,248895.7,0.0,10789.18,259684.88,259684.88,2011
34,john tursi,"inspector 3, (police department)",104861.39,50227.61,103499.39,258588.39,258588.39,2011
35,jose velo,"battalion chief, (fire department)",177781.25,59924.97,20658.0,258364.22,258364.22,2011
36,khoa trinh,electronic maintenance technician,101953.2,139102.95,16483.94,257540.09,257540.09,2011
37,susan currin,"administrator, sfgh medical center",245124.44,0.0,12000.0,257124.44,257124.44,2011
38,james bosch,"inspector 3, (police department)",110661.2,31162.04,111446.2,253269.44,253269.44,2011
39,jones wong,lieutenant 3 (police department),132202.26,52648.92,67083.83,251935.01,251935.01,2011
40,brendan ward,"battalion chief, (fire department)",147158.85,64985.85,39540.46,251685.16,251685.16,2011
41,michael thompson,"battalion chief, (fire department)",168692.66,60847.56,21055.17,250595.39,250595.39,2011
42,thomas abbott,"battalion chief, (fire department)",168692.63,59760.9,21954.96,250408.49,250408.49,2011
43,thomas siragusa,"deputy chief of department,(fire department)",218930.76,4078.0,27330.59,250339.35,250339.35,2011
44,michael thompson,firefighter,123013.02,111729.65,15575.26,250317.93,250317.93,2011
45,sharon mccole wicher,nursing supervisor psychiatric,196081.86,0.0,54040.18,250122.04,250122.04,2011
46,edwin lee,mayor,249375.02,0.0,0.0,249375.02,249375.02,2011
47,bryan rubenstein,"battalion chief, (fire department)",168692.64,66199.23,14401.43,249293.30,249293.30,2011
48,trent rhorer,department head v,248895.77,0.0,0.0,248895.77,248895.77,2011
49,james dudley,deputy chief 3 (police department),233867.6,0.0,14851.04,248718.64,248718.64,2011
50,ken yee,"lieutenant, fire department",137729.92,89856.01,20848.46,248434.39,248434.39,2011

In [24]:
df_2012.head(50)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
36160,gary altenberg,"lieutenant, fire suppression",128808.87,220909.48,13126.31,362844.66,407274.78,2012
36161,gregory suhr,chief of police,302578.0,0.0,18974.11,321552.11,391362.30,2012
36162,khoa trinh,electronic maintenance tech,111921.0,146415.32,78057.41,336393.73,389496.02,2012
36163,joanne hayes-white,"chief, fire department",296943.01,0.0,17816.59,314759.60,386807.48,2012
36164,frederick binkley,emt/paramedic/firefighter,126863.19,192424.49,17917.18,337204.86,381643.11,2012
36165,amy hart,dept head v,271607.74,0.0,19782.03,291389.77,376071.59,2012
36166,edward reiskin,"gen mgr, public trnsp dept",294000.17,0.0,0.0,294000.17,376002.11,2012
36167,john martin,dept head v,287747.89,0.0,5274.57,293022.46,374846.83,2012
36168,john goldberg,captain 3,104404.0,0.0,245999.41,350403.41,374690.64,2012
36169,david franklin,asst chf of dept (fire dept),204032.52,85503.16,26193.09,315728.77,374214.87,2012
36170,brendan ward,"battlion chief, fire suppressi",174822.47,118215.58,28845.78,321883.83,371531.92,2012
36171,samson lai,"battlion chief, fire suppressi",174822.44,112731.28,28660.28,316214.00,369463.56,2012
36172,rudy castellanos,"battlion chief, fire suppressi",176771.74,124413.13,15803.39,316988.26,369309.16,2012
36173,marty ross,"battlion chief, fire suppressi",174822.41,99623.51,36522.39,310968.31,366322.23,2012
36174,mark kearney,assistant deputy chief 2,124573.5,22599.6,180516.68,327689.78,360070.78,2012
36175,leda rozier,transit manager 2,98211.01,0.0,200951.3,299162.31,359447.75,2012
36176,ellen moffatt,asst med examiner,260528.26,3394.9,20400.0,284323.16,357340.28,2012
36177,raymond guzman,dep chf of dept (fire dept),244102.02,24204.66,20232.29,288538.97,353241.69,2012
36178,edward harrington,executive contract employee,232815.01,0.0,51564.01,284379.02,352046.11,2012
36179,judy melinek,asst med examiner,260528.15,377.21,18425.37,279330.73,351617.08,2012
36180,michael morris,assistant deputy chief 2,223371.0,7415.52,63426.03,294212.55,350415.53,2012
36181,michael rolovich,"captain, fire suppression",145659.03,125868.06,30474.97,302002.06,347131.09,2012
36182,james dudley,deputy chief 3,263426.5,0.0,22857.87,286284.37,345549.96,2012
36183,mark gonzales,dep chf of dept (fire dept),252423.6,8357.25,15742.21,276523.06,345306.29,2012
36184,harlan kelly-jr,executive contract employee,249362.77,0.0,13810.69,263173.46,344173.23,2012
36185,darryl hunter,"captain, fire suppression",145659.03,115673.73,32610.0,293942.76,343514.27,2012
36186,trent rhorer,dept head v,253649.8,0.0,6486.0,260135.80,340796.41,2012
36187,michael delane,"captain, fire suppression",147069.71,113372.94,33012.58,293455.23,339433.38,2012
36188,barbara garcia,dept head v,253435.69,0.0,6486.0,259921.69,339399.60,2012
36189,susan currin,"adm, sfgh medical center",254878.82,0.0,9486.0,264364.82,339368.15,2012
36190,philip stevens,"captain, fire suppression",124573.5,53895.92,130200.4,308669.82,337576.85,2012
36191,thomas harvey,assistant deputy chief 2,226475.05,0.0,54967.53,281442.58,337164.74,2012
36192,thomas siragusa,asst chf of dept (fire dept),208830.92,54545.03,20726.5,284102.45,337046.07,2012
36193,benjamin rosenfield,controller,252210.73,0.0,3486.0,255696.73,336683.28,2012
36194,croce casciato,captain 3,108175.03,0.0,203471.13,311646.16,336587.29,2012
36195,edwin lee,mayor,260574.05,0.0,0.0,260574.05,335272.55,2012
36196,stephen tacchini,captain 3,104404.0,0.0,204290.09,308694.09,333382.63,2012
36197,david shinn,deputy chief 3,263426.5,0.0,12320.8,275747.30,333324.03,2012
36198,kevin cashman,deputy chief 3,253094.51,0.0,22206.4,275300.91,331861.96,2012
36199,joseph driscoll,"captain, fire suppression",145658.98,114513.29,28743.36,288915.63,331834.79,2012
36200,scott scholzen,firefighter,109783.86,160418.47,19873.8,290076.13,331307.02,2012
36201,ai kyung chung,anesthetist,227221.89,5693.99,16887.9,249803.78,328357.89,2012
36202,pete fay jr,"battlion chief, fire suppressi",176515.48,74246.62,23772.0,274534.10,327741.82,2012
36203,john ehrlich,captain 3,98747.52,1386.38,203735.92,303869.82,327476.90,2012
36204,venus azar,asst med examiner,243271.98,0.0,13708.15,256980.13,325086.94,2012
36205,denise schmitt,deputy chief 3,263390.6,0.0,819.01,264209.61,324508.58,2012
36206,jay huish,dept head v,243115.1,0.0,3486.0,246601.10,323983.72,2012
36207,gregory stangland,emt/paramedic/firefighter,128091.78,133645.42,16130.24,277867.44,321780.77,2012
36208,arthur kenney,asst chf of dept (fire dept),204032.52,29768.35,34685.53,268486.40,321638.46,2012
36209,kevin taylor,"battlion chief, fire suppressi",176515.48,71643.89,23352.06,271511.43,318966.66,2012

In [25]:
df_2013.head(50)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
72926,gregory suhr,chief of police,319275.01,0.0,20007.06,339282.07,425815.28,2013
72927,joanne hayes-white,"chief, fire department",313686.01,0.0,23236.0,336922.01,422353.40,2013
72928,samson lai,"battalion chief, fire suppress",186236.42,131217.63,29648.27,347102.32,404167.27,2013
72929,ellen moffatt,asst med examiner,272855.51,23727.91,38954.54,335537.96,401736.88,2013
72930,robert shaw,"dep dir for1nvestments, ret",315572.01,0.0,0.0,315572.01,398421.67,2013
72931,david franklin,asst chf of dept (fire dept),215265.6,87985.24,30637.48,333888.32,396778.68,2013
72932,harlan kelly-jr,executive contract employee,313312.52,0.0,0.0,313312.52,395632.03,2013
72933,john martin,dept head v,311758.96,0.0,1098.64,312857.60,395334.45,2013
72934,edward reiskin,"gen mgr, public trnsp dept",305307.89,0.0,0.0,305307.89,386168.49,2013
72935,thomas siragusa,asst chf of dept (fire dept),215265.6,88028.54,21526.49,324820.63,386109.21,2013
72936,amy hart,dept head v,286480.44,0.0,17188.71,303669.15,383746.78,2013
72937,yifang qian,senior physician specialist,203710.0,0.0,119176.84,322886.84,381697.80,2013
72938,michael biel,deputy chief 3,278964.0,0.0,17587.86,296551.86,374260.34,2013
72939,raymond guzman,dep chf of dept (fire dept),270756.03,0.0,24181.02,294937.05,372411.97,2013
72940,marty ross,"battalion chief, fire suppress",186236.43,88345.08,38035.09,312616.60,371608.35,2013
72941,mark gonzales,dep chf of dept (fire dept),270756.01,0.0,20236.5,290992.51,368400.67,2013
72942,mark johnson,"battalion chief, fire suppress",186236.41,101466.96,23994.92,311698.29,367832.59,2013
72943,bryan rubenstein,"battalion chief, fire suppress",186236.45,94450.92,30313.49,311000.86,367509.32,2013
72944,gary altenberg,"lieutenant, fire suppression",135903.02,163477.81,20994.96,320375.79,366406.55,2013
72945,john loftus,deputy chief 3,274126.5,0.0,13358.1,287484.60,363393.70,2013
72946,edwin lee,mayor,285446.37,0.0,0.0,285446.37,362551.66,2013
72947,michael morris,assistant deputy chief 2,124054.0,0.0,202322.37,326376.37,362306.21,2013
72948,david shinn,deputy chief 3,278964.0,0.0,6428.79,285392.79,362073.36,2013
72949,arthur kenney,asst chf of dept (fire dept),213308.64,49139.25,36262.42,298710.31,359467.26,2013
72950,lorrie kalos,"battalion chief, fire suppress",186236.49,87457.68,28003.53,301697.70,358728.65,2013
72951,lyn tomioka,deputy chief 3,278964.0,0.0,3536.35,282500.35,358613.48,2013
72952,denise schmitt,deputy chief 3,278964.0,0.0,3536.39,282500.39,357867.54,2013
72953,rudy castellanos,"battalion chief, fire suppress",186236.42,94274.25,19022.95,299533.62,354885.15,2013
72954,susan currin,"adm, sfgh medical center",271831.5,0.0,5000.0,276831.50,352343.22,2013
72955,thomas abbott,"battalion chief, fire suppress",186236.41,84382.38,23279.44,293898.23,350082.24,2013
72956,naomi kelly,dept head v,270641.5,0.0,3000.0,273641.50,348509.37,2013
72957,trent rhorer,dept head v,270641.56,0.0,3000.0,273641.56,348410.90,2013
72958,barbara garcia,dept head v,270591.04,0.0,3050.5,273641.54,348410.87,2013
72959,robert postel,asst chf of dept (fire dept),212244.54,62490.6,13450.16,288185.30,346963.87,2013
72960,jeffrey barden,"captain, fire suppression",155174.49,124293.83,18151.93,297620.25,346621.80,2013
72961,pete l fay jr,"battalion chief, fire suppress",186213.86,77586.66,25324.73,289125.25,345649.65,2013
72962,khairul ali,"battalion chief, fire suppress",186236.44,75564.72,27004.09,288805.25,345643.46,2013
72963,benjamin rosenfield,controller,270641.53,0.0,0.0,270641.53,344786.26,2013
72964,jay huish,dept head v,270641.5,0.0,0.0,270641.50,344786.23,2013
72965,whitney yee,deputy sheriff,95123.0,196689.18,16622.66,308434.84,344560.33,2013
72966,john hickey,"battalion chief, fire suppress",186236.41,76789.03,25476.27,288501.71,343551.44,2013
72967,brendan ward,"battalion chief, fire suppress",96504.32,53142.28,163495.64,313142.24,341625.70,2013
72968,kevin burke,asst chf of dept (fire dept),213308.64,31381.85,31645.34,276335.83,338907.72,2013
72969,kirk richardson,"battalion chief, fire suppress",186236.43,64378.67,28212.79,278827.89,335911.68,2013
72970,shannon sakowski,anesthetist,235223.07,5846.54,23867.99,264937.60,334779.88,2013
72971,edmund dea,"battalion chief, fire suppress",185517.0,86101.81,11624.87,283243.68,333981.84,2013
72972,michael bryant,"battalion chief, fire suppress",186236.46,63449.47,27004.11,276690.04,333528.23,2013
72973,michael delane,"captain, fire suppression",155174.48,97138.34,28657.27,280970.09,332223.43,2013
72974,frederick binkley,emt/paramedic/firefighter,135144.28,132615.09,18656.86,286416.23,331743.01,2013
72975,joseph driscoll,"captain, fire suppression",155174.5,98112.27,29079.97,282366.74,331439.87,2013

In [26]:
df_2014.tail(50)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
148601,kim evans,recreation leader,37.23,0.00,0.00,37.23,37.60,2014
148602,brieanna mcfadden,recreation leader,34.88,0.00,0.00,34.88,35.23,2014
148603,trayvonte britt,recreation leader,34.75,0.00,0.00,34.75,35.10,2014
148604,elizabeth williams,physical therapist,0.00,0.00,34.64,34.64,34.64,2014
148605,sugyn paynay,publ svc aide-asst to prof,34.03,0.00,0.00,34.03,34.37,2014
148606,edwina brinas,registered nurse,0.00,0.00,28.49,28.49,34.35,2014
148607,randall cinti,school crossing guard,31.75,0.00,0.00,31.75,32.07,2014
148608,gary schoenfeld,pool lifeguard,31.43,0.00,0.00,31.43,31.74,2014
148609,elsa evangelista,registered nurse,21.76,0.00,0.00,21.76,29.03,2014
148610,tucker silva,pool lifeguard,26.94,0.00,0.00,26.94,27.21,2014
148611,ruby martin,special nurse,21.22,0.00,0.00,21.22,26.21,2014
148612,patricia mackey-williams,patient care assistant,0.00,0.00,25.57,25.57,25.57,2014
148613,kermith miller,utility plumber,0.00,0.00,24.52,24.52,24.52,2014
148614,nanette lloyd,special nurse,19.97,0.00,0.00,19.97,24.27,2014
148615,tracy dickson,licensed vocational nurse,0.00,0.00,23.72,23.72,23.72,2014
148616,marilou gan,registered nurse,0.00,0.00,19.27,19.27,23.24,2014
148617,afakasi afakasi,public service trainee,21.48,0.00,0.86,22.34,22.56,2014
148618,charles f williams iii,pool lifeguard,17.26,0.00,0.00,17.26,21.30,2014
148619,denise van alstine,elections clerk,0.00,0.00,19.81,19.81,19.81,2014
148620,ian cameron,is program analyst-assistant,6.04,0.00,10.05,16.09,18.39,2014
148621,india sabater,recreation leader,15.50,0.00,0.00,15.50,15.66,2014
148622,kenneth mackey,transit operator,0.00,0.00,15.35,15.35,15.35,2014
148623,jacqueline hubbard,senior clerk,0.00,0.00,13.77,13.77,13.77,2014
148624,deborah honig,attorney (civil/criminal),0.00,0.00,13.35,13.35,13.48,2014
148625,lorraine rosenthal,senior clerk,0.00,0.00,12.89,12.89,12.89,2014
148626,renato gurion,registered nurse,0.00,0.00,6.00,6.00,7.24,2014
148627,paulet gaines,account clerk,0.00,0.00,0.00,0.00,0.00,2014
148628,brett lundberg,general laborer,0.00,0.00,0.00,0.00,0.00,2014
148629,mark mcclure,general laborer,0.00,0.00,0.00,0.00,0.00,2014
148630,elizabeth iniguez,transcriber typist,0.00,0.00,0.00,0.00,0.00,2014
148631,randy keys,carpenter,0.00,0.00,0.00,0.00,0.00,2014
148632,andre johnson,communications dispatcher 1,0.00,0.00,0.00,0.00,0.00,2014
148633,sharon owens-webster,protective services worker,0.00,0.00,0.00,0.00,0.00,2014
148634,edward ferdinand,general laborer,0.00,0.00,0.00,0.00,0.00,2014
148635,david turner,transit car cleaner,0.00,0.00,0.00,0.00,0.00,2014
148636,james kibblewhite,general laborer,0.00,0.00,0.00,0.00,0.00,2014
148637,andrew enzi,arborist technician,0.00,0.00,0.00,0.00,0.00,2014
148638,kadeshra green,transit fare1nspector,0.00,0.00,0.00,0.00,0.00,2014
148639,lennard hutchinson,electrician,0.00,0.00,0.00,0.00,0.00,2014
148640,richard talbert,custodian,0.00,0.00,0.00,0.00,0.00,2014
148641,charlene mccully,parking control officer,0.00,0.00,0.00,0.00,0.00,2014
148642,raphael marquis goins,museum guard,0.00,0.00,0.00,0.00,0.00,2014
148643,dominic marquez,sign worker,0.00,0.00,0.00,0.00,0.00,2014
148644,kim brewer,parking control officer,0.00,0.00,0.00,0.00,0.00,2014
148645,randy winn,"stationary eng, sewage plant",0.00,0.00,0.00,0.00,0.00,2014
148646,carolyn wilson,human services technician,0.00,0.00,0.00,0.00,0.00,2014
148648,joann anderson,communications dispatcher 2,0.00,0.00,0.00,0.00,0.00,2014
148649,leon walker,custodian,0.00,0.00,0.00,0.00,0.00,2014
148650,roy tillery,custodian,0.00,0.00,0.00,0.00,0.00,2014
148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,-618.13,-618.13,2014

In [27]:
# Drop rows with NaN in either X or y
df_2011 = df_2011.dropna(subset=['JobTitle', 'TotalPay'])
# Drop rows with NaN in either X or y
df_2012 = df_2012.dropna(subset=['JobTitle', 'TotalPay'])
# Drop rows with NaN in either X or y
df_2013 = df_2013.dropna(subset=['JobTitle', 'TotalPay'])
# Drop rows with NaN in either X or y
df_2014 = df_2014.dropna(subset=['JobTitle', 'TotalPay'])

### ALEXA - Top 50 jobs 

We have taken the top 50 jobs and categorized them into different job categories that best fit their titles. 

- Taken the top 50 job titles 
- Categorize them into lists and created: Healthcare, Transporatation, Maintenance and Operations, Emergency Safety, Public Safety, Social and Public Services, Professional_Administrative_Support Services, FoodService and Engineering. 
- Added a JobCategoryEncoded to know what number is associated to each of the Job Categories: 
  - 0.Emergency Safety
  - 1 .Engineering	
  - 2.Food Service
  - 3.Healthcare	
  - 4.Maintenance and Operations	
  - 5.Professional_Administrative_Support Services
  - 6.Public Safety	
  - 7.Social and Public Services
  - 8.Transportation	

- After getting the dataframe that would prepare for the machine learning, we created a CSV titled - UPDATEDJobSalariesSF.csv for the next step

In [28]:
#Display updated salaries dataframe
salaries.head(50)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,
1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.0,400184.25,567595.43,567595.43,2011
2,gary jimenez,captain 3 (police department),155966.02,245131.88,137811.38,538909.28,538909.28,2011
3,albert pardini,captain 3 (police department),212739.13,106088.18,16452.6,335279.91,335279.91,2011
4,christopher chong,wire rope cable maintenance mechanic,77916.0,56120.71,198306.9,332343.61,332343.61,2011
5,patrick gardner,"deputy chief of department,(fire department)",134401.6,9737.0,182234.59,326373.19,326373.19,2011
6,david sullivan,assistant deputy chief 2,118602.0,8601.0,189082.74,316285.74,316285.74,2011
7,alson lee,"battalion chief, (fire department)",92492.01,89062.9,134426.14,315981.05,315981.05,2011
8,david kushner,deputy director of1nvestments,256576.96,0.0,51322.5,307899.46,307899.46,2011
9,michael morris,"battalion chief, (fire department)",176932.64,86362.68,40132.23,303427.55,303427.55,2011
10,joanne hayes-white,"chief of department, (fire department)",285262.0,0.0,17115.73,302377.73,302377.73,2011
11,arthur kenney,"assistant chief of department, (fire department)",194999.39,71344.88,33149.9,299494.17,299494.17,2011
12,patricia jackson,captain 3 (police department),99722.0,87082.62,110804.3,297608.92,297608.92,2011
13,edward harrington,executive contract employee,294580.02,0.0,0.0,294580.02,294580.02,2011
14,john martin,department head v,271329.03,0.0,21342.59,292671.62,292671.62,2011
15,david franklin,"battalion chief, (fire department)",174872.64,74050.3,37424.11,286347.05,286347.05,2011
16,richard corriea,"commander 3, (police department)",198778.01,73478.2,13957.65,286213.86,286213.86,2011
17,amy hart,department head v,268604.57,0.0,16115.86,284720.43,284720.43,2011
18,sebastian wong,"captain, emergencycy medical services",140546.87,119397.26,18625.08,278569.21,278569.21,2011
19,marty ross,"battalion chief, (fire department)",168692.63,69626.12,38115.47,276434.22,276434.22,2011
20,ellen moffatt,assistant medical examiner,257510.59,880.16,16159.5,274550.25,274550.25,2011
21,venus azar,assistant medical examiner,257510.48,0.0,16679.79,274190.27,274190.27,2011
22,judy melinek,assistant medical examiner,257510.44,377.21,15883.56,273771.21,273771.21,2011
23,george garcia,"captain, fire suppression",140546.88,93200.58,39955.25,273702.71,273702.71,2011
24,victor wyrsch,"battalion chief, (fire department)",168692.63,77896.14,24083.86,270672.63,270672.63,2011
25,joseph driscoll,"captain, fire suppression",140546.86,97868.77,31909.28,270324.91,270324.91,2011
26,gregory suhr,chief of police,256470.41,0.0,11522.18,267992.59,267992.59,2011
27,john hanley,"captain, fire suppression",92080.8,40008.0,133695.76,265784.56,265784.56,2011
28,raymond guzman,"battalion chief, (fire department)",168692.59,80706.88,16063.99,265463.46,265463.46,2011
29,denise schmitt,deputy chief 3 (police department),261717.6,0.0,2357.0,264074.60,264074.60,2011
30,monica fields,"deputy chief of department,(fire department)",246225.6,0.0,15140.54,261366.14,261366.14,2011
31,harlan kelly-jr,executive contract employee,234325.02,0.0,25972.64,260297.66,260297.66,2011
32,david shinn,deputy chief 3 (police department),254027.63,0.0,5899.48,259927.11,259927.11,2011
33,gary amelio,department head v,248895.7,0.0,10789.18,259684.88,259684.88,2011
34,john tursi,"inspector 3, (police department)",104861.39,50227.61,103499.39,258588.39,258588.39,2011
35,jose velo,"battalion chief, (fire department)",177781.25,59924.97,20658.0,258364.22,258364.22,2011
36,khoa trinh,electronic maintenance technician,101953.2,139102.95,16483.94,257540.09,257540.09,2011
37,susan currin,"administrator, sfgh medical center",245124.44,0.0,12000.0,257124.44,257124.44,2011
38,james bosch,"inspector 3, (police department)",110661.2,31162.04,111446.2,253269.44,253269.44,2011
39,jones wong,lieutenant 3 (police department),132202.26,52648.92,67083.83,251935.01,251935.01,2011
40,brendan ward,"battalion chief, (fire department)",147158.85,64985.85,39540.46,251685.16,251685.16,2011
41,michael thompson,"battalion chief, (fire department)",168692.66,60847.56,21055.17,250595.39,250595.39,2011
42,thomas abbott,"battalion chief, (fire department)",168692.63,59760.9,21954.96,250408.49,250408.49,2011
43,thomas siragusa,"deputy chief of department,(fire department)",218930.76,4078.0,27330.59,250339.35,250339.35,2011
44,michael thompson,firefighter,123013.02,111729.65,15575.26,250317.93,250317.93,2011
45,sharon mccole wicher,nursing supervisor psychiatric,196081.86,0.0,54040.18,250122.04,250122.04,2011
46,edwin lee,mayor,249375.02,0.0,0.0,249375.02,249375.02,2011
47,bryan rubenstein,"battalion chief, (fire department)",168692.64,66199.23,14401.43,249293.30,249293.30,2011
48,trent rhorer,department head v,248895.77,0.0,0.0,248895.77,248895.77,2011
49,james dudley,deputy chief 3 (police department),233867.6,0.0,14851.04,248718.64,248718.64,2011
50,ken yee,"lieutenant, fire department",137729.92,89856.01,20848.46,248434.39,248434.39,2011

In [29]:
#Check the count of Job titles from highest to lowest

# Count the occurrences of each JobTitle
Jobtitle_salary = salaries.groupby('JobTitle').size().reset_index(name='Count')

# Sort by Count to see the most common job titles
Jobtitle_salary = Jobtitle_salary.sort_values(by='Count', ascending=False)

# Display the first few rows
print(Jobtitle_salary.head())

              JobTitle  Count
1489  transit operator   9424
1348     special nurse   5791
1149  registered nurse   4955
416          custodian   3214
1039  police officer 3   3200

In [30]:
#Display dataframe
Jobtitle_salary.head(50)

                                 JobTitle  Count
1489                     transit operator   9424
1348                        special nurse   5791
1149                     registered nurse   4955
416                             custodian   3214
1039                     police officer 3   3200
604                           firefighter   3153
1146                    recreation leader   2663
462                        deputy sheriff   2618
1134         public svc aide-public works   2518
983                patient care assistant   1945
1133               public service trainee   1656
160             attorney (civil/criminal)   1503
1038                     police officer 2   1502
1037                       police officer   1476
1044                               porter   1465
620                       general laborer   1410
618                              gardener   1187
970               parking control officer   1140
797                          library page   1107
1198                         senior clerk   1064
1199                  senior clerk typist   1055
1292                           sergeant 3   1047
313                                 clerk    983
528                    eligibility worker    980
555             emt/paramedic/firefighter    918
801             licensed vocational nurse    901
1395                  stationary engineer    886
947                    nurse practitioner    881
1214            senior eligibility worker    879
1105           protective services worker    824
939                          museum guard    821
1501                   transit supervisor    812
1189        senior administrative analyst    806
909         medical evaluations assistant    778
764                          junior clerk    755
1169                school crossing guard    712
1517                         truck driver    709
611                   food service worker    701
511        electrical transit system mech    631
557                              engineer    630
1108                      ps aide to prof    627
1187                 senior account clerk    587
649                       health worker 3    586
1112           publ svc aide-asst to prof    574
810          lieutenant, fire suppression    572
835                             manager 3    571
179                   automotive mechanic    562
924   mental health rehabilitation worker    559
342        community police services aide    559
648                       health worker 2    542

## Separating The Top 50 Jobs into Categories 

This is where we assigned the job titles to the categories: Healthcare, Transportation, Maintenance and Operations, Emergency Safety, Public Safety, Social and Public services, Professiona_Admin_Support Services, Food Service and Engineering

In [31]:
#Creating the list 
healthcare_titles = [
    'special nurse',
    'registered nurse',
    'patient care assistant',
    'licensed vocational nurse',
    'nurse practitioner',
    'medical evaluations assistant',
    'health worker 3',
    'mental health rehabilitation worker',
    'health worker 2'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in healthcare_titles: 
    job_title_mapping[title] = 'Healthcare'

In [32]:
#Creating the list 
transportation_titles = [
    'transit operator', 
    'truck driver', 
    'transit supervisor', 
    'electrical transit system mech'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in transportation_titles: 
    job_title_mapping[title] = 'Transportation'

In [33]:
#Creating the list 
maintenance_operations_title = [
    'custodian', 
    'general laborer', 
    'gardener', 
    'porter', 
    'automotive mechanic'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in maintenance_operations_title: 
    job_title_mapping[title] = 'Maintenance and Operations'

In [34]:
#Creating the list 
emergency_safety_titles = [
    'firefighter', 
    'emt/paramedic/firefighter',
    'sergeant 3','lieutenant,fire suppression', 
    'police officer 3', 
    'deputy sheriff', 
    'police officer 2', 
    'police officer', 
    'community police services aide'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in emergency_safety_titles: 
    job_title_mapping[title] = 'Emergency Safety'

In [35]:
#Creating the list 
public_safety_title = [
    'parking control officer', 
    'school crossing guard', 
    'museum guard'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in public_safety_title: 
    job_title_mapping[title] = 'Public Safety'

In [36]:
#Creating the list 
social_public_services_title = [
    'public svc aide-public works', 
    'public service trainee', 
    'eligibility worker', 
    'protective services worker'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in social_public_services_title: 
    job_title_mapping[title] = 'Social and Public Services'

In [37]:
#Creating the list 
prof_admin_support_serv_title = [
    'ps aide to prof', 
    'publ svc aide-asst to prof', 
    'attorney (civil/criminal)', 
    'senior clerk', 
    'senior clerk typist', 
    'clerk', 
    'junior clerk', 
    'manager 3', 
    'library page'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in prof_admin_support_serv_title: 
    job_title_mapping[title] = 'Professional_Administrative_Support Services'

In [38]:
#Creating the list 
food_service_title = [
    'food service worker'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in food_service_title: 
    job_title_mapping[title] = 'Food Service'

In [39]:
#Creating the list 
engineering_title = [
    'engineer', 'stationary engineer'
]

#Using job_title_mapping, creating the title of the list
job_title_mapping = {}
for title in engineering_title: 
    job_title_mapping[title] = 'Engineering'

We wanted to get all of the different job categories into a for loop and the following into a Dataframe:
- Id, JobTitle, Job Category, TotalBasePay, AvgBasePay, MinBasePay, MaxBasePay, MedianBasePay and StdDevBasePay

In [40]:
# Define job categories and their corresponding job titles
job_categories = {
    'Healthcare': healthcare_titles,
    'Transportation': transportation_titles,
    'Maintenance and Operations': maintenance_operations_title,
    'Emergency Safety': emergency_safety_titles,
    'Public Safety': public_safety_title,
    'Social and Public Services': social_public_services_title,
    'Professional_Administrative_Support Services': prof_admin_support_serv_title,
    'Food Service': food_service_title,
    'Engineering': engineering_title   
}

# Initialize a list to hold results for all categories
all_categories_data = []

# Iterate through each job category
for category, titles in job_categories.items():
    # Filter the salaries DataFrame for the current category
    category_salaries = salaries[salaries['JobTitle'].isin(titles)].copy()

    # Map the job category
    category_salaries['JobCategory'] = category  # Set JobCategory for the current category

    # Ensure BasePay is numeric and coerce any errors (non-numeric values) to NaN
    category_salaries['BasePay'] = pd.to_numeric(category_salaries['BasePay'], errors='coerce')

    # Fill NaN values with 0 (or you can drop these rows if preferred)
    category_salaries['BasePay'].fillna(0, inplace=True)

    # Perform the groupby and aggregation
    category_aggregated = category_salaries.groupby('JobTitle').agg(
        TotalBasePay=('BasePay', 'sum'),
        AvgBasePay=('BasePay', 'mean'),
        MinBasePay=('BasePay', 'min'),
        MaxBasePay=('BasePay', 'max'),
        MedianBasePay=('BasePay', 'median'),
        StdDevBasePay=('BasePay', 'std'),
    ).reset_index()

    # Add the JobCategory to the aggregated DataFrame
    category_aggregated['JobCategory'] = category

    # Round the numerical values
    for col in ['TotalBasePay', 'AvgBasePay', 'MinBasePay', 'MaxBasePay', 'MedianBasePay', 'StdDevBasePay']:
        category_aggregated[col] = category_aggregated[col].round(0)

    # Append the results for the current category to the list
    all_categories_data.append(category_aggregated)

# Combine all category data into a single DataFrame
combined_categories_data = pd.concat(all_categories_data, ignore_index=True)

# Remove dollar formatting from AvgBasePay to ensure proper numeric sorting
combined_categories_data['AvgBasePay'] = pd.to_numeric(combined_categories_data['AvgBasePay'], errors='coerce')

# Sort the DataFrame by AvgBasePay in descending order (highest to lowest)
combined_categories_sorted = combined_categories_data.sort_values(by='AvgBasePay', ascending=False)

# Apply dollar formatting again after sorting
money_cols = ['TotalBasePay', 'AvgBasePay', 'MinBasePay', 'MaxBasePay', 'MedianBasePay', 'StdDevBasePay']
for col in money_cols:
    combined_categories_sorted[col] = combined_categories_sorted[col].apply(lambda x: f"${x:,.0f}")

# Reorder the columns to have JobCategory as the second column
combined_categories_sorted = combined_categories_sorted[['JobTitle', 'JobCategory', 'TotalBasePay', 'AvgBasePay', 'MinBasePay', 'MaxBasePay', 'MedianBasePay', 'StdDevBasePay']]

# Display the sorted DataFrame with JobCategory in the second column
print(combined_categories_sorted.head(50))

                               JobTitle  \
33            attorney (civil/criminal)
25                           sergeant 3
43                             engineer
37                            manager 3
23                     police officer 2
24                     police officer 3
20            emt/paramedic/firefighter
21                          firefighter
7                      registered nurse
5                    nurse practitioner
19                       deputy sheriff
22                       police officer
30           protective services worker
11                   transit supervisor
9        electrical transit system mech
13                  automotive mechanic
44                  stationary engineer
12                         truck driver
18       community police services aide
15                             gardener
1                       health worker 3
10                     transit operator
2             licensed vocational nurse
41                  senior clerk typist
16                      general laborer
27              parking control officer
0                       health worker 2
29                   eligibility worker
3         medical evaluations assistant
40                         senior clerk
14                            custodian
4   mental health rehabilitation worker
6                patient care assistant
17                               porter
34                                clerk
8                         special nurse
42                  food service worker
26                         museum guard
36                         library page
38                      ps aide to prof
39           publ svc aide-asst to prof
32         public svc aide-public works
31               public service trainee
28                school crossing guard
35                         junior clerk

                                     JobCategory  TotalBasePay AvgBasePay  \
33  Professional_Administrative_Support Services  $200,062,150   $133,109
25                              Emergency Safety  $136,906,198   $130,760
43                                   Engineering   $76,114,119   $120,816
37  Professional_Administrative_Support Services   $64,339,092   $112,678
23                              Emergency Safety  $164,325,621   $109,405
24                              Emergency Safety  $344,441,284   $107,638
20                              Emergency Safety   $93,030,112   $101,340
21                              Emergency Safety  $318,952,999   $101,159
7                                     Healthcare  $498,104,708   $100,526
5                                     Healthcare   $79,239,487    $89,943
19                              Emergency Safety  $221,384,381    $84,562
22                              Emergency Safety  $122,133,702    $82,746
30                    Social and Public Services   $66,041,776    $80,148
11                                Transportation   $63,210,741    $77,846
9                                 Transportation   $47,346,244    $75,034
13                    Maintenance and Operations   $39,207,982    $69,765
44                                   Engineering   $57,464,605    $64,858
12                                Transportation   $43,993,504    $62,050
18                              Emergency Safety   $32,248,448    $57,690
15                    Maintenance and Operations   $62,304,227    $52,489
1                                     Healthcare   $29,940,062    $51,092
10                                Transportation  $477,361,634    $50,654
2                                     Healthcare   $44,676,743    $49,586
41  Professional_Administrative_Support Services   $51,033,260    $48,373
16                    Maintenance and Operations   $67,904,817    $48,159
27                                 Public Safety   $54,639,526    $47,929
0                                     Healthcare   $24,648,517    $45,477
29                    Social and Public Services   $44,062,601    $44,962
3                                     Healthcare   $34,329,047    $44,125
40  Professional_Administrative_Support Services   $44,980,264    $42,275
14                    Maintenance and Operations  $134,073,438    $41,715
4                                     Healthcare   $22,535,550    $40,314
6                                     Healthcare   $76,856,999    $39,515
17                    Maintenance and Operations   $56,105,129    $38,297
34  Professional_Administrative_Support Services   $31,952,894    $32,505
8                                     Healthcare  $170,815,072    $29,497
42                                  Food Service   $20,426,014    $29,138
26                                 Public Safety   $22,468,001    $27,367
36  Professional_Administrative_Support Services   $22,342,116    $20,183
38  Professional_Administrative_Support Services   $11,342,435    $18,090
39  Professional_Administrative_Support Services    $6,004,710    $10,461
32                    Social and Public Services   $20,342,976     $8,079
31                    Social and Public Services   $13,024,941     $7,865
28                                 Public Safety    $5,030,294     $7,065
35  Professional_Administrative_Support Services    $3,910,891     $5,180

   MinBasePay MaxBasePay MedianBasePay StdDevBasePay
33         $0   $193,686      $147,186       $47,026
25         $0   $148,374      $137,982       $25,927
43         $0   $194,905      $123,747       $29,948
37         $0   $158,493      $125,656       $35,620
23         $0   $126,864      $114,043       $17,314
24         $0   $131,105      $117,171       $27,871
20         $0   $154,575      $111,544       $33,736
21         $0   $139,171      $109,784       $25,087
7          $0   $174,045      $108,542       $31,838
5          $0   $190,134       $97,093       $61,544
19         $0    $95,275       $88,374       $16,654
22         $0   $118,571       $92,259       $34,767
30         $0    $96,721       $86,725       $20,614
11         $0   $124,304       $88,062       $20,409
9          $0    $90,695       $80,261       $15,615
13         $0    $83,306       $73,660       $15,342
44         $0    $90,670       $73,814       $22,043
12         $0    $80,052       $72,219       $21,332
18         $0    $72,227       $62,199       $14,008
15         $0    $66,320       $58,635       $16,344
1          $0    $66,963       $57,631       $17,684
10         $0    $77,486       $62,918       $21,804
2          $0    $77,010       $62,848       $24,935
41         $0    $66,258       $55,905       $16,953
16         $0    $65,584       $56,113       $17,327
27         $0    $70,602       $54,673       $15,277
0          $0    $59,805       $52,572       $16,229
29         $0    $68,721       $53,199       $19,362
3          $0    $64,129       $50,535       $17,240
40         $0    $66,258       $48,217       $16,579
14         $0    $57,777       $48,472       $15,785
4          $0    $60,399       $47,803       $20,355
6          $0    $69,240       $45,647       $22,833
17         $0    $58,764       $48,246       $17,778
34       $-10    $78,601       $40,000       $17,837
8          $0   $155,775       $17,877       $31,061
42         $0    $48,694       $24,335       $15,909
26         $0    $65,523       $18,514       $19,720
36         $0    $49,159       $20,924        $9,791
38         $0    $45,806       $16,137       $12,376
39        $34    $36,747        $8,208        $8,007
32         $0    $32,672        $7,107        $6,305
31         $0    $67,922        $3,100       $10,907
28         $0    $13,793        $7,860        $2,957
35      $-166    $52,448        $1,241        $9,728

C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)
C:\Users\alexa\AppData\Local\Temp\ipykernel_4788\516016628.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  category_salaries['BasePay'].fillna(0, inplace=True)

We had to create a numeric code that represents each category so when we do the Machine Learning, it would read it as a numeric value. This was preparation to process smoothly. 

- 0.Emergency Safety
- 1 .Engineering	
- 2.Food Service
- 3.Healthcare	
- 4.Maintenance and Operations	
- 5.Professional_Administrative_Support Services
- 6.Public Safety	
- 7.Social and Public Services
- 8.Transportation

In [41]:
# load in from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder
# Initialize the Label Encoder
label_encoder = LabelEncoder()

# Fit and transform the JobCategory column
combined_categories_sorted['JobCategoryEncoded'] = label_encoder.fit_transform(combined_categories_sorted['JobCategory'])

In [42]:
#Display the dataframe
combined_categories_sorted.head(50)

,JobTitle,JobCategory,TotalBasePay,AvgBasePay,MinBasePay,MaxBasePay,MedianBasePay,StdDevBasePay,JobCategoryEncoded
33,attorney (civil/criminal),Professional_Administrative_Support Services,"$200,062,150","$133,109",$0,"$193,686","$147,186","$47,026",5
25,sergeant 3,Emergency Safety,"$136,906,198","$130,760",$0,"$148,374","$137,982","$25,927",0
43,engineer,Engineering,"$76,114,119","$120,816",$0,"$194,905","$123,747","$29,948",1
37,manager 3,Professional_Administrative_Support Services,"$64,339,092","$112,678",$0,"$158,493","$125,656","$35,620",5
23,police officer 2,Emergency Safety,"$164,325,621","$109,405",$0,"$126,864","$114,043","$17,314",0
24,police officer 3,Emergency Safety,"$344,441,284","$107,638",$0,"$131,105","$117,171","$27,871",0
20,emt/paramedic/firefighter,Emergency Safety,"$93,030,112","$101,340",$0,"$154,575","$111,544","$33,736",0
21,firefighter,Emergency Safety,"$318,952,999","$101,159",$0,"$139,171","$109,784","$25,087",0
7,registered nurse,Healthcare,"$498,104,708","$100,526",$0,"$174,045","$108,542","$31,838",3
5,nurse practitioner,Healthcare,"$79,239,487","$89,943",$0,"$190,134","$97,093","$61,544",3
19,deputy sheriff,Emergency Safety,"$221,384,381","$84,562",$0,"$95,275","$88,374","$16,654",0
22,police officer,Emergency Safety,"$122,133,702","$82,746",$0,"$118,571","$92,259","$34,767",0
30,protective services worker,Social and Public Services,"$66,041,776","$80,148",$0,"$96,721","$86,725","$20,614",7
11,transit supervisor,Transportation,"$63,210,741","$77,846",$0,"$124,304","$88,062","$20,409",8
9,electrical transit system mech,Transportation,"$47,346,244","$75,034",$0,"$90,695","$80,261","$15,615",8
13,automotive mechanic,Maintenance and Operations,"$39,207,982","$69,765",$0,"$83,306","$73,660","$15,342",4
44,stationary engineer,Engineering,"$57,464,605","$64,858",$0,"$90,670","$73,814","$22,043",1
12,truck driver,Transportation,"$43,993,504","$62,050",$0,"$80,052","$72,219","$21,332",8
18,community police services aide,Emergency Safety,"$32,248,448","$57,690",$0,"$72,227","$62,199","$14,008",0
15,gardener,Maintenance and Operations,"$62,304,227","$52,489",$0,"$66,320","$58,635","$16,344",4
1,health worker 3,Healthcare,"$29,940,062","$51,092",$0,"$66,963","$57,631","$17,684",3
10,transit operator,Transportation,"$477,361,634","$50,654",$0,"$77,486","$62,918","$21,804",8
2,licensed vocational nurse,Healthcare,"$44,676,743","$49,586",$0,"$77,010","$62,848","$24,935",3
41,senior clerk typist,Professional_Administrative_Support Services,"$51,033,260","$48,373",$0,"$66,258","$55,905","$16,953",5
16,general laborer,Maintenance and Operations,"$67,904,817","$48,159",$0,"$65,584","$56,113","$17,327",4
27,parking control officer,Public Safety,"$54,639,526","$47,929",$0,"$70,602","$54,673","$15,277",6
0,health worker 2,Healthcare,"$24,648,517","$45,477",$0,"$59,805","$52,572","$16,229",3
29,eligibility worker,Social and Public Services,"$44,062,601","$44,962",$0,"$68,721","$53,199","$19,362",7
3,medical evaluations assistant,Healthcare,"$34,329,047","$44,125",$0,"$64,129","$50,535","$17,240",3
40,senior clerk,Professional_Administrative_Support Services,"$44,980,264","$42,275",$0,"$66,258","$48,217","$16,579",5
14,custodian,Maintenance and Operations,"$134,073,438","$41,715",$0,"$57,777","$48,472","$15,785",4
4,mental health rehabilitation worker,Healthcare,"$22,535,550","$40,314",$0,"$60,399","$47,803","$20,355",3
6,patient care assistant,Healthcare,"$76,856,999","$39,515",$0,"$69,240","$45,647","$22,833",3
17,porter,Maintenance and Operations,"$56,105,129","$38,297",$0,"$58,764","$48,246","$17,778",4
34,clerk,Professional_Administrative_Support Services,"$31,952,894","$32,505",$-10,"$78,601","$40,000","$17,837",5
8,special nurse,Healthcare,"$170,815,072","$29,497",$0,"$155,775","$17,877","$31,061",3
42,food service worker,Food Service,"$20,426,014","$29,138",$0,"$48,694","$24,335","$15,909",2
26,museum guard,Public Safety,"$22,468,001","$27,367",$0,"$65,523","$18,514","$19,720",6
36,library page,Professional_Administrative_Support Services,"$22,342,116","$20,183",$0,"$49,159","$20,924","$9,791",5
38,ps aide to prof,Professional_Administrative_Support Services,"$11,342,435","$18,090",$0,"$45,806","$16,137","$12,376",5
39,publ svc aide-asst to prof,Professional_Administrative_Support Services,"$6,004,710","$10,461",$34,"$36,747","$8,208","$8,007",5
32,public svc aide-public works,Social and Public Services,"$20,342,976","$8,079",$0,"$32,672","$7,107","$6,305",7
31,public service trainee,Social and Public Services,"$13,024,941","$7,865",$0,"$67,922","$3,100","$10,907",7
28,school crossing guard,Public Safety,"$5,030,294","$7,065",$0,"$13,793","$7,860","$2,957",6
35,junior clerk,Professional_Administrative_Support Services,"$3,910,891","$5,180",$-166,"$52,448","$1,241","$9,728",5

In [43]:
# Remove the JobCategory column
combined_categories_sorted = combined_categories_sorted.drop(columns=['JobCategory'])

In [44]:
# Reorder the columns to have JobCategoryEncoded as the second column
combined_categories_sorted = combined_categories_sorted[['JobTitle', 'JobCategoryEncoded'] + 
                                                        [col for col in combined_categories_sorted.columns if col not in ['JobTitle', 'JobCategoryEncoded']]]

# Display the updated DataFrame
combined_categories_sorted.head(50)

,JobTitle,JobCategoryEncoded,TotalBasePay,AvgBasePay,MinBasePay,MaxBasePay,MedianBasePay,StdDevBasePay
33,attorney (civil/criminal),5,"$200,062,150","$133,109",$0,"$193,686","$147,186","$47,026"
25,sergeant 3,0,"$136,906,198","$130,760",$0,"$148,374","$137,982","$25,927"
43,engineer,1,"$76,114,119","$120,816",$0,"$194,905","$123,747","$29,948"
37,manager 3,5,"$64,339,092","$112,678",$0,"$158,493","$125,656","$35,620"
23,police officer 2,0,"$164,325,621","$109,405",$0,"$126,864","$114,043","$17,314"
24,police officer 3,0,"$344,441,284","$107,638",$0,"$131,105","$117,171","$27,871"
20,emt/paramedic/firefighter,0,"$93,030,112","$101,340",$0,"$154,575","$111,544","$33,736"
21,firefighter,0,"$318,952,999","$101,159",$0,"$139,171","$109,784","$25,087"
7,registered nurse,3,"$498,104,708","$100,526",$0,"$174,045","$108,542","$31,838"
5,nurse practitioner,3,"$79,239,487","$89,943",$0,"$190,134","$97,093","$61,544"
19,deputy sheriff,0,"$221,384,381","$84,562",$0,"$95,275","$88,374","$16,654"
22,police officer,0,"$122,133,702","$82,746",$0,"$118,571","$92,259","$34,767"
30,protective services worker,7,"$66,041,776","$80,148",$0,"$96,721","$86,725","$20,614"
11,transit supervisor,8,"$63,210,741","$77,846",$0,"$124,304","$88,062","$20,409"
9,electrical transit system mech,8,"$47,346,244","$75,034",$0,"$90,695","$80,261","$15,615"
13,automotive mechanic,4,"$39,207,982","$69,765",$0,"$83,306","$73,660","$15,342"
44,stationary engineer,1,"$57,464,605","$64,858",$0,"$90,670","$73,814","$22,043"
12,truck driver,8,"$43,993,504","$62,050",$0,"$80,052","$72,219","$21,332"
18,community police services aide,0,"$32,248,448","$57,690",$0,"$72,227","$62,199","$14,008"
15,gardener,4,"$62,304,227","$52,489",$0,"$66,320","$58,635","$16,344"
1,health worker 3,3,"$29,940,062","$51,092",$0,"$66,963","$57,631","$17,684"
10,transit operator,8,"$477,361,634","$50,654",$0,"$77,486","$62,918","$21,804"
2,licensed vocational nurse,3,"$44,676,743","$49,586",$0,"$77,010","$62,848","$24,935"
41,senior clerk typist,5,"$51,033,260","$48,373",$0,"$66,258","$55,905","$16,953"
16,general laborer,4,"$67,904,817","$48,159",$0,"$65,584","$56,113","$17,327"
27,parking control officer,6,"$54,639,526","$47,929",$0,"$70,602","$54,673","$15,277"
0,health worker 2,3,"$24,648,517","$45,477",$0,"$59,805","$52,572","$16,229"
29,eligibility worker,7,"$44,062,601","$44,962",$0,"$68,721","$53,199","$19,362"
3,medical evaluations assistant,3,"$34,329,047","$44,125",$0,"$64,129","$50,535","$17,240"
40,senior clerk,5,"$44,980,264","$42,275",$0,"$66,258","$48,217","$16,579"
14,custodian,4,"$134,073,438","$41,715",$0,"$57,777","$48,472","$15,785"
4,mental health rehabilitation worker,3,"$22,535,550","$40,314",$0,"$60,399","$47,803","$20,355"
6,patient care assistant,3,"$76,856,999","$39,515",$0,"$69,240","$45,647","$22,833"
17,porter,4,"$56,105,129","$38,297",$0,"$58,764","$48,246","$17,778"
34,clerk,5,"$31,952,894","$32,505",$-10,"$78,601","$40,000","$17,837"
8,special nurse,3,"$170,815,072","$29,497",$0,"$155,775","$17,877","$31,061"
42,food service worker,2,"$20,426,014","$29,138",$0,"$48,694","$24,335","$15,909"
26,museum guard,6,"$22,468,001","$27,367",$0,"$65,523","$18,514","$19,720"
36,library page,5,"$22,342,116","$20,183",$0,"$49,159","$20,924","$9,791"
38,ps aide to prof,5,"$11,342,435","$18,090",$0,"$45,806","$16,137","$12,376"
39,publ svc aide-asst to prof,5,"$6,004,710","$10,461",$34,"$36,747","$8,208","$8,007"
32,public svc aide-public works,7,"$20,342,976","$8,079",$0,"$32,672","$7,107","$6,305"
31,public service trainee,7,"$13,024,941","$7,865",$0,"$67,922","$3,100","$10,907"
28,school crossing guard,6,"$5,030,294","$7,065",$0,"$13,793","$7,860","$2,957"
35,junior clerk,5,"$3,910,891","$5,180",$-166,"$52,448","$1,241","$9,728"

In [45]:
#ml save CSV
# Save the sorted DataFrame to a CSV file
combined_categories_sorted.to_csv('UPDATEDJobSalariesSF.csv', index=False)

## Preparing the Data to Fit the Linear Regression Model

In [46]:
# Import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [47]:
# Define the file path to your CSV file
file_path = r'data\UPDATEDJobSalariesSF.csv'

# Read the salary data from the CSV file
df_salaries = pd.read_csv(file_path)

# Display the first few rows to check data
print(df_salaries.head())

                    JobTitle  JobCategoryEncoded  TotalBasePay AvgBasePay  \
0  attorney (civil/criminal)                   5  $200,062,150   $133,109
1                 sergeant 3                   0  $136,906,198   $130,760
2                   engineer                   1   $76,114,119   $120,816
3                  manager 3                   5   $64,339,092   $112,678
4           police officer 2                   0  $164,325,621   $109,405

  MinBasePay MaxBasePay MedianBasePay StdDevBasePay
0         $0   $193,686      $147,186       $47,026
1         $0   $148,374      $137,982       $25,927
2         $0   $194,905      $123,747       $29,948
3         $0   $158,493      $125,656       $35,620
4         $0   $126,864      $114,043       $17,314

Initially we were having issues with the columns and the symbols which affected the model. We ended up cleaning the remaining columns. Because we enconded our JobCategories into a numerical value, this helped create a smoother process.

In [48]:
# List of columns to clean
columns_to_clean = ['TotalBasePay', 'AvgBasePay', 'MinBasePay', 'MaxBasePay', 'MedianBasePay', 'StdDevBasePay']

# Clean the specified columns by removing $ and commas
for column in columns_to_clean:
    df_salaries[column] = df_salaries[column].replace({'\$': '', ',': ''}, regex=True)

# Convert the cleaned columns to float
for column in columns_to_clean:
    df_salaries[column] = pd.to_numeric(df_salaries[column], errors='coerce')

# Check for NaN values after conversion
print("Number of NaN values in the cleaned columns:")
print(df_salaries[columns_to_clean].isnull().sum())

# Drop rows where any of the relevant columns are NaN
df_salaries.dropna(subset=columns_to_clean, inplace=True)

Number of NaN values in the cleaned columns:
TotalBasePay     0
AvgBasePay       0
MinBasePay       0
MaxBasePay       0
MedianBasePay    0
StdDevBasePay    0
dtype: int64

In [49]:
# One-hot encode categorical variables
df_salaries = pd.get_dummies(df_salaries, columns=['JobCategoryEncoded'])

In [50]:
# Define features and target variable
X = df_salaries.drop(columns=['AvgBasePay','JobTitle','TotalBasePay'])  # Features should exclude the target variable
y = df_salaries['AvgBasePay']  # The target variable should be the salary

In [51]:
X.head()

,MinBasePay,MaxBasePay,MedianBasePay,StdDevBasePay,JobCategoryEncoded_0,JobCategoryEncoded_1,JobCategoryEncoded_2,JobCategoryEncoded_3,JobCategoryEncoded_4,JobCategoryEncoded_5,JobCategoryEncoded_6,JobCategoryEncoded_7,JobCategoryEncoded_8
0,0,193686,147186,47026,False,False,False,False,False,True,False,False,False
1,0,148374,137982,25927,True,False,False,False,False,False,False,False,False
2,0,194905,123747,29948,False,True,False,False,False,False,False,False,False
3,0,158493,125656,35620,False,False,False,False,False,True,False,False,False
4,0,126864,114043,17314,True,False,False,False,False,False,False,False,False

In [52]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
# Create a Linear Regression model
model = LinearRegression()

In [54]:
# Fit the model to the training data
model.fit(X_train, y_train)

LinearRegression()

In [55]:
#prediction model
predictions = model.predict(X_test)

In [56]:
# Evaluate the model
print("Mean Squared Error:", mean_squared_error(y_test, predictions))
print("R^2 Score:", r2_score(y_test, predictions))

Mean Squared Error: 30247862.460506167
R^2 Score: 0.9774144091293482